$itemBtnColor: #bd965a;
$itemBtnColorHover: (#dbb377);
$activeBtnBgColor: #3d3d3d;

.products-container {
	display: flex;

	margin: 30px 0 30px 10px;

	overflow: scroll;
	box-sizing: border-box;

	&::-webkit-scrollbar {
		display: none;
	}

	.product-container {
		cursor: pointer;
		padding-right: 10px;

		&.active {
			.item-btn {
				background-color: $activeBtnBgColor;
			}
		}
	}

	img {
		width: 95%;
		margin: 0 auto;
		border-radius: 50%;
		display: block;
	}

	header {
		text-transform: uppercase;
		font-size: 12px;
		text-align: center;
		letter-spacing: 0.26px;
		margin: 10px 0;
		font-family: "PT Sans", Arial, sans-serif;
	}

	.item-btn {
		background-color: $itemBtnColor;
		color: white;
		width: 150px;
		height: 65px;
	}
}

.item-btn.MuiButton-contained:hover {
	background-color: $itemBtnColorHover;
}

@media screen and (min-width: 1015px) {
	.products-container {
		justify-content: center;
		margin: 30px 0;

		.product-container {
			min-width: 100px;
			margin: 0px 5px;
			padding-right: 0;
		}
	}
}

@media screen and (min-width: 1270px) {
	.product-container {
		header {
			font-size: 14px;
		}

		img {
			width: 90%;
			border-radius: initial;
		}
	}
}
