.main-header {
  margin: 30px;
  text-align: center;
}

.warranty-container {
  margin: 0 30px 30px;
}

p {
  line-height: 1.4;
  letter-spacing: 0.6px;
}

h4 {
  margin: 25px 0 15px;
}

.pdf-document {
  color: black;
  margin-top: 30px;
}

.container-pdf-document {
  margin-top: 30px;
}