$infoContainerBgColor: rgba(0, 0, 0, 0.8);
$infoContainerBgColor1: rgba(0, 0, 0, 0.4);
$infoContainerItemColor: #fefefe;
$infoContainerItemColorHover: #bd965a;
$infoContainerWrapperColor: #aeaeae;
$menuWrapperColor: rgba(0, 0, 0, 0.6);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans", Helvetica, Arial, sans-serif;
}

.main-content {
	overflow: hidden;
}

img,
.nav:before,
.info-container .list-item {
	display: block;
}

.logo {
	z-index: 1;
	padding: 10px;
	margin: 23px auto auto 3px;
	filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);

	img {
		width: 82px;
	}
}

.text-logo,
.nav .burger-nav .menu-close,
.info-container li a,
.menu,
.navbar-contact .brand-name:after {
	position: relative;
}

.nav:before,
.nav .burger-nav,
.navbar-contact {
	position: absolute;
}

.text-logo {
	color: white;
	letter-spacing: 0.2em;
	font-size: 15px;
	left: -32.5%;
	top: 41px;
}

.menu-wrapper,
.info-container {
	background-color: $infoContainerBgColor;
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;

	&:before {
		content: "";
		left: 0;
		right: 0;
		top: 0;
		height: 40px;
		background-color: $infoContainerBgColor1;
		z-index: 1;
	}

	.burger-nav {
		margin-right: 20px;
		right: 22px;
		top: 64px;

		.menu-open,
		.menu-close {
			transition: opacity 1s ease-out;
		}

		.menu-open {
			width: 133%;
			height: auto;
			overflow: hidden;
			opacity: 1;
		}

		.menu-close {
			overflow: hidden;
			height: 0;
			right: -5px;
			top: 8px;
			opacity: 0;
		}
	}

	&.active {
		.burger-nav {
			.menu-open {
				height: 0;
				opacity: 0;
			}

			.menu-close {
				height: 27px;
				opacity: 1;
			}
		}
	}
}

.info-container {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s linear;
	z-index: 3;

	li {
		a {
			text-decoration: none;
			text-transform: uppercase;
			font-size: 15px;
			color: $infoContainerItemColor;
			text-shadow: $infoContainerItemColor 0 0 0;
			padding: 14px 26px;
			transition: color 0.5s ease;
		}

		&:hover a {
			color: $infoContainerItemColorHover;
		}
	}

	.list-item {
		line-height: 34px;
		letter-spacing: 2px;
		padding: 5px 0;
		text-align: center;
	}

	&.active {
		max-height: 200px;
	}
}

.info-container-wrapper.active {
	left: -32%;
	padding: 0;
}

li a {
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 400;
	color: $infoContainerWrapperColor;
}

.navbar-contact,
.product-title {
	color: white;
	letter-spacing: 1px;
}

.navbar-contact {
	right: 18.25%;
	top: 12px;
	opacity: 0.9;
	font-size: 12px;

	.brand-name:after {
		content: "|";
		padding: 0 15px;
		font-size: 11px;
		top: -1px;
	}
}

@media screen and (min-width: 1270px) {
	.burger-nav {
		display: none;
	}

	.info-container {
		background-color: unset;
	}

	.logo {
		margin-left: 16px;
		padding-bottom: 15px;
	}

	.text-logo {
		font-size: 20px;
		left: -65.5%;
		top: 34px;
	}

	.menu-wrapper {
		background-color: $menuWrapperColor;
	}

	.info-container {
		max-height: initial;
		position: absolute;
		transform: translate(-50%, -50%);
		right: -12%;
		top: 10%;

		.list-item {
			display: inline-block;
		}
	}
}

@media screen and (min-width: 1350px) {
	.info-container {
		top: 13%;
	}
}

@media screen and (min-width: 1430px) {
	.text-logo {
		left: -69.5%;
	}

	.info-container {
		top: 10%;
	}
}

@media screen and (min-width: 1670px) {
	.text-logo {
		left: -73.5%;
	}

	.navbar-contact {
		right: 14.25%;
	}
}

@media screen and (min-width: 1910px) {
	.text-logo {
		left: -69.5%;
	}

	.logo {
		margin-left: 126px;
	}

	.menu-wrapper {
		padding-bottom: 5px;
	}

	.navbar-contact {
		right: 9.25%;
	}
}
